.menuText{
	-fx-fill: black;
	-fx-font-family: "Arial";
	-fx-font-weight: bolder;
}

.menu-item:hover{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 25%, #80c800 50%);
}
.menu-item:focused{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 25%, #80c800 50%);
}

.menu:hover{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 35%, #80c800 50%);
}
.menu:focused{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 25%, #80c800 50%);
}

.menu-bar{
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 35%, #80c800 50%);
}


.tool-bar {
    -fx-background-color: linear-gradient(to bottom, #b7b7b7 1%, #a3a3a3 99%);
    -fx-opacity: 1;
    -fx-padding: .9em 0.416667em .9em 0.416667em;
}

.tool-bar .button{
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 35%, #80c800 50%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.25em 1.833333em 0.25em 1.833333em;
}

.tool-bar .button:hover{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 25%, #80c800 50%);
}

.tool-bar .button:pressed{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 15%, #80c800 20%);
}

.tool-bar .menu-bar{
  -fx-padding: 0;
}

.tool-bar .menu-bar .label{
    -fx-text-fill: rgb(75,75,75);
    -fx-background-color:
        linear-gradient(#ffe400, #ffc000),
        radial-gradient(center 50% -40%, radius 200%, #ffc000 35%, #f17100 50%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.25em 1.833333em 0.25em 1.833333em;
}

.tool-bar .menu-bar .label:hover{
	-fx-background-color:
        linear-gradient(#ffe400, #ffc000),
        radial-gradient(center 50% -40%, radius 200%, #ffc000 25%, #f17100 50%);
}

.tool-bar .menu-bar .label:pressed{
	-fx-background-color:
        linear-gradient(#ffe400, #ffc000),
        radial-gradient(center 50% -40%, radius 200%, #ffc000 15%, #f17100 20%);
}

.button{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 35%, #80c800 50%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.25em 1.833333em 0.25em 1.833333em;
}

.button:hover{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 25%, #80c800 50%);
}

.button:pressed{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 15%, #80c800 20%);
}
.text-on-form {
	-fx-fill: rgb(75,75,75);
	-fx-font-family: "Arial";
	-fx-font-size: 12;
	-fx-font-weight: bold;
}

.label-as-title {
	-fx-text-fill: rgb(75,75,75);
	-fx-font-family: "Arial";
	-fx-font-size: 12;
	-fx-font-weight: bold;
	-fx-alignment: center;
}

.allSoTableGrid {
	-fx-border-width: 1;
	-fx-border-color: white;
}

.allSoTableGrid .label{
	-fx-text-fill: rgb(75,75,75);
	-fx-font-family: "Arial";
	-fx-font-size: 12;
	-fx-font-weight: bold;
}

.custom-menu-item {
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 25%, #80c800 50%);
    -fx-border-color: gray;
    -fx-padding: 0 0 0 0;
    -fx-opacity: 1;
}

.custom-menu-item:hover {
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 35%, #80c800 50%);
	-fx-opacity: 1;
}

.custom-menu-item:pressed {
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 15%, #80c800 20%);
}

.label-as-button{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 35%, #80c800 50%);
    -fx-padding: 0.25em 0.5em 0.25em 0.5em;
}

.tree-view-menu:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 1 );
}
.tree-view-menu:pressed {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.95) , 15, 0.0 , 0 , 1 );
}

.tree-view{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 15%, #80c800 20%);
}

.custom-menu-separator{
	-fx-border-color: gray;
	-fx-border-width: 1;
	-fx-border-style: dashed ;
} 
